{% extends 'movies/base.html' %}

{% block content %}
    <h2 style="text-align: center; margin-bottom: 2rem;">Lista de Películas</h2>
    
    <div class="movie-list">
        {% for movie in movies %}
            <a href="{% url 'movies:movie_detail' movie.id %}" class="movie-card">
                <div class="movie-title">{{ movie.title }}</div>
                <div class="movie-year">{{ movie.publication_year }}</div>
                <div class="movie-year">Género: {{ movie.genre }}</div>
            </a>
        {% empty %}
            <p style="text-align: center; grid-column: 1 / -1;">
                No hay películas en el catálogo.
            </p>
        {% endfor %}
    </div>
{% endblock %}